{{!-- Form --}}
<form id="add-friend-form" class="container">
    {{!-- Input --}}
    <div class="mb-3">
        <label for="username" class="form-label">Username of user that wantes friend added:</label>
        <input type="text" class="form-control" id="username">
    </div>
    {{!-- Input --}}
    <div class="mb-3">
        <label for="add-friend" class="form-label">ID of friend to be added:</label>
        <input type="text" class="form-control" id="add-friend">
    </div>
    {{!-- Button --}}
    <button type="submit" class="btn btn-success">Add Friend</button>
</form>