<form id="create-thought-form" class="container">
    <div class="mb-3">
        <label for="username" class="form-label">Username:</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
        <label for="thought-text" class="form-label"> Thought Text:</label>
        <input type="text" class="form-control" id="thought-text">
    </div>
    <div class="mb-3">
        <label for="userId" class="form-label">UserId:</label>
        <input type="text" class="form-control" id="userId">
    </div>
    <button type="submit" class="btn btn-danger">Create Thought</button>
</form>