<form id="create-reaction-form" class="container">
    <div class="mb-3">
        <label for="thought-id" class="form-label">ID of thought being reacted to: </label>
        <input type="text" class="form-control" id="thought-id">
    </div>
    <div class="mb-3">
        <label for="username" class="form-label">Username of user reacting to thought:</label>
        <input type="text" class="form-control" id="username">
    </div>
    <div class="mb-3">
        <label for="reaction-body" class="form-label">Reaction Text:</label>
        <input type="text" class="form-control" id="reaction-body">
    </div>
    <button type="submit" class="btn btn-danger">Add Friend</button>
</form>