<form id="delete-thought-form" class="container">
    <div class="mb-3">
        <label for="delete-thought" class="form-label">ID of thought document to be deleted:</label>
        <input type="text" class="form-control" id="delete-thought">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>
