<form id="delete-reaction-form" class="container">
    <div class="mb-3">
        <label for="user-id" class="form-label">UserId of user that wants reaction deleted from their thought:</label>
        <input type="text" class="form-control" id="user-id">
    </div>
    <div class="mb-3">
        <label for="delete-reaction" class="form-label">ID of reaction to be deleted:</label>
        <input type="text" class="form-control" id="delete-reaction">
    </div>
    <button type="submit" class="btn btn-danger">Delete Reaction</button>
</form>