<form id="delete-user-form" class="container">
    <div class="mb-3">
        <label for="delete-user" class="form-label">ID of user document to be deleted:</label>
        <input type="text" class="form-control" id="delete-user">
    </div>
    <button type="submit" class="btn btn-danger">Delete</button>
</form>