<form id="delete-thought-form">
    <label for="delete-thought">ID of thought document to be deleted:</label>
    <input type="text" id="delete-thought">
    <button type="submit">Delete</button>
</form>