{{!-- Form --}}
<form id="update-thought-form" class="container">
    {{!-- Input --}}
    <div class="mb-3">
        <label for="thought-id" class="form-label">ID of thought to be updated:</label>
        <input type="text" class="form-control" id="thought-id">
    </div>
    {{!-- Input --}}
    <div class="mb-3">
        <label for="new-thought" class="form-label">New Thought Text:</label>
        <input type="text" class="form-control" id="new-thought">
    </div>
    {{!-- Button --}}
    <button type="submit" class="btn btn-warning">Update Thought</button>
</form>