<section class="home-section">
    <h1>Social Media Admin</h1>
    {{#if isHomePage}}
    <p>Welcome to the Social Media Admin Panel! Here, I have created a UI where users can interact with the API I built using MongoDB and Mongoose. Although unconvetional, I build the front-end to fit in with the back-end exactly how I built it. I wanted to make sure anyone could get test my API without a CLI or needing to run my project localy. Although the focus of this projects is the API itself, adding a front-end allowed me to practice Handlebars.js, Bootstrap, and full-stack development.</p>
    {{/if}}

    {{#if showPayload}}
    <div id="payload">
        <h2>Payload</h2>
        {{!-- Delete User Form --}}
        {{#if deleteUserAction}}
            {{> deleteUserForm }}
        {{/if}}
        {{!-- Delete Thought Form --}}
        {{#if deleteThoughtAction}}
            {{> deleteThoughtForm }}
        {{/if}}
        {{!-- Remove Friend Form --}}
        {{#if removeFriendAction}}
            {{> removeFriendForm }}
        {{/if}}
        {{!-- Remove Friend Form --}}
        {{#if addFriendAction}}
            {{> addFriendForm }}
        {{/if}}
        {{!-- Delete Reaction --}}
        {{#if deleteReactionAction}}
            {{> deleteReactionForm }}
        {{/if}}
        {{!-- Update User --}}
        {{#if updateUserAction}}
            {{> updateUserForm }}
        {{/if}}
        {{!-- Update Thought --}}
        {{#if updateThoughtAction}}
            {{> updateThoughtForm }}
        {{/if}}
    </div>
    {{/if}}
    {{#if showDisplay}}
    <div id="display">
        <h2>Display</h2>
        <pre class="bg-light p-3 border rounded overflow-auto">
            {{#if showThoughts}}
            <code>{{json thoughts }}</code>
            {{/if}}
            {{#if showUsers}}
            <code>{{json users }}</code>
            {{/if}}
        </pre>
    </div>
    {{/if}}
</section>
