/* Josh W Comeau Reset */
*, *::before, *::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
}

input, button, textarea, select {
    font: inherit;
}

p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
}

#root, #__next {
    isolation: isolate;
}
/* Font */
@font-face {
    font-family: 'Work Sans';
    src: url('../fonts/WorkSans-VariableFont_wght.ttf') format('truetype');
    font-weight: 100 900;  
    font-style: normal;
}
/* Additional Global Styles */
body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    padding-left: 16.666%;
    min-width: 540px;
}
  
header, header .navbar {
    position: fixed;
    top: 0; 
    left: 0; 
    width: 16.666%; 
    min-width: 160px;
    max-width: 260px;
    height: 100%; 
    overflow-y: auto;
}
  
main {
    height: 100%;
}

